BasedOnStyle: Google
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
ConstructorInitializerIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 1

IncludeBlocks: Regroup
SortIncludes: true
NamespaceIndentation: All
ReflowComments: false
Standard: c++17
